@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(44deg, rgba(243, 243, 243, 0.05) 0%, rgba(243, 243, 243, 0.05) 33.333%,rgba(79, 79, 79, 0.05) 33.333%, rgba(79, 79, 79, 0.05) 66.666%,rgba(9, 9, 9, 0.05) 66.666%, rgba(9, 9, 9, 0.05) 99.999%),linear-gradient(97deg, rgba(150, 150, 150, 0.05) 0%, rgba(150, 150, 150, 0.05) 33.333%,rgba(34, 34, 34, 0.05) 33.333%, rgba(34, 34, 34, 0.05) 66.666%,rgba(40, 40, 40, 0.05) 66.666%, rgba(40, 40, 40, 0.05) 99.999%),linear-gradient(29deg, rgba(56, 56, 56, 0.05) 0%, rgba(56, 56, 56, 0.05) 33.333%,rgba(226, 226, 226, 0.05) 33.333%, rgba(226, 226, 226, 0.05) 66.666%,rgba(221, 221, 221, 0.05) 66.666%, rgba(221, 221, 221, 0.05) 99.999%),linear-gradient(90deg, rgb(163, 238, 211),rgb(149, 75, 252));
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  color: #015085;
}
h1 span{
  color: #982d2d;
}

.container{
  width: 600px;
  height: auto;
  background: #ffffff;
  padding: 10px;
  box-shadow: 5px 5px 10px #fffbfb;

}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #95d8cb;
  color: white;
  padding: 5px;
}

button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
select{
  font-size: 18px;
  padding: 0px 8px;
  border: 1px solid #95d8cb;
  border-radius: 10px;
  margin: 0 10px;
}
.weeks{
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  text-align: center;
  padding: 10px;
  background: #67d3be;
  margin-bottom: 10px;
}
.dates{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
.day,
.empty{
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}
.empty{
  background-color: #f9f9f9;
}
.day:hover{
  background: #3498db;
  color: #fff;
}
.current{
  background: tomato;
  color: white;
}